table.dataTable,
table.dataTable th,
table.dataTable td {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
    white-space: nowrap !important;
}
.scrollStyle
{
    overflow-x:auto !important;;
}